<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Contacts</title>
  </head>
  <body>
    <div class="page-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">ContactList</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/add-contact">Add Contact <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search-contact" method="POST">
                    <input class="form-control mr-sm-2" type="search" name="esseid" placeholder="Contact ID" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
        </nav>
        <div class="table-wrapper">
            <% if (data.length > 0) {%>
                <table class="table table-hovered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((data, index) => { %>
                            <tr>
                                <th scope="row"><%= data._id %></th>
                                <td><%= data.name %></td>
                                <td><%= data.phone %></td>
                                <td><%= data.gender %></td>
                                <td><%= data.email %></td>
                                <td>
                                    <a href="/update-contact/<%= data._id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Update</a>
                                    <a href="/delete/<%= data._id %>" class="btn btn-sm btn-danger" onclick="deleteAlert()">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p class="text-center">No contacts found. Go <a href="/add" >here</a> to add contacts.</p>
            <% } %>
        </div>
    </div>
    <script>
        function deleteAlert() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              alert("Contato deletado com sucesso")
            }
          };
          xhttp.open("GET", "/", true);
          xhttp.send();
        }
        </script>
  </body>
</htlm>