<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Search Contact</title>
      </head>
  <body>
      <div class="page-wrapper">
          <nav class="navbar navbar-light bg-light">
              <span class="navbar-brand mb-0 h1"><a class="text-success">Search Contacts</a></span>
          </nav>
          <div class="container">
              <form action="/search-contact" method="POST">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <input type="text" class="form-control" name="esseid" id="oid" placeholder="Digite o id do contato" required>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary float-right">Search</button>
              </form>
          </div>
      </div>
  </body>
</htlm>